<template>
 <div>
  <input  id="name" name = "name" type="text" placeholder="Enter country name" v-model="query" v-on:keyup="autoComplete" class="form-control">
  <div class="panel-footer" v-if="results.length">
   <ul class="list-group">
    <li class="list-group-item" v-bind:key="result.id" v-on:click="selectedItem(index)" v-for="(result, index) in results "  v-bind:value="result.name">
     {{ result.name }}
    </li>
   </ul>
  </div>
   <div class="form-group">
            <label for="capital">Capital</label>
           <input  id="capital" name = "capital" type="text" placeholder="Capital" v-model="capital"  class="form-control">
    </div>
    <div class="form-group">
            <label for="flag">Flag</label>
           <input  id="flag" name = "flag" type="text" placeholder="Flag" v-model="flag"  class="form-control">
    </div>
    <div class="form-group">
            <label for="map">Map</label>
           <input  id="map" name = "map" type="text" placeholder="Map" v-model="map"  class="form-control">
    </div>
    <div class="form-group">
            <label for="currency">Currency</label>
           <input  id="currency" name = "currency" type="text" placeholder="Currency" v-model="currency"  class="form-control">
    </div>
    <div class="form-group">
            <label for="currency_value">currency value</label>
           <input  id="currency_value" name = "currency_value" type="text" placeholder="Currency value" v-model="currency_value"  class="form-control">
    </div>
 </div>
</template>
<script>
 export default{
  data(){
   return {
    query: '',
    capital:'',
    map:'',
    flag:'',
    currency:'',
    currency_value:'',
    results: [],
   }
  },
  methods: {
   autoComplete(){
    this.results = [];
    if(this.query.length > 2){
     axios.get('https://restcountries.eu/rest/v2/name/india',{params: {query: this.query}}).then(response => {
      this.results = response.data;
     });
    }
   },
   selectedItem(event){
       this.query = this.results[event].name;
       this.capital = this.results[event].capital;
       this.flag = this.results[event].flag;
       this.currency = this.results[event].currencies[0]['code'];
       this.currency_value = 1;
       this.map = 'https://maps.google.com/maps?q='+this.results[event].name+'&t=&z=5&ie=UTF8&iwloc=&output=embed';
       this.results = [];
  }
 }
 }
</script>