
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


body {
    height: 800px;
}

.content-wrapper .content {
    min-height: 800px;
}

.fa-heart.active{
    color: #ff0000;
}

.dropdown:hover .dropdown-menu {
    display: block;
    }

    .mapouter{ overflow:hidden; 
        height:500px;
        width:600px;}
    
    .gmap_canvas {
        background:none!important;
        height:500px;
        width:600px;}